*{
    margin: 0;padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: rgb(175, 104, 63) !important;
    font-family: 'Playfair Display', serif;
}

nav{
    width: 80%;
    height: 50px;
    margin: 130px auto;
    border: 3px solid rgb(224, 168, 47);
}
.menu{
    width: 100%;
    height: 100%;
    /* background: greenyellow; */
}
nav>.menu>li{
    list-style-type: none;
    width: 20%;
    height: 100%;
    float: left;
    border-right: 3px solid rgb(224, 168, 47);
    text-align: center;
    line-height: 45px;
    text-transform: capitalize;
    font-size: 20px;
    background: rgb(155, 106, 17);
    color: rgb(240, 194, 68);
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
nav>.menu>li:nth-of-type(5){
    border-right: none ;
}
nav>.menu>li:nth-of-type(1){
    background: rgb(233, 183, 47); 
    color: rgb(155, 106, 17);
}
nav>.menu>li:hover{
    background:  rgb(112, 77, 34); 
    color: rgb(155, 106, 17);
}
nav>.menu>li:nth-of-type(1):hover{
     background: rgb(153, 98, 35);
    color: rgb(240, 194, 68);
}
nav>.menu>li:hover ul{
    opacity: 1;
    visibility: visible;
}
nav>.menu>li>.megamenu1{
    width: 509%;
    height: 300px;
    border: 3px solid  rgb(112, 77, 34);
    background: rgb(187, 118, 53);
    position: absolute;
    top: 47px;
    left: -102%;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
.meg{
    width: 100%;
    height: 100%;
    list-style-type: none;
    position: absolute;
    top: 0;left: 0;
}
.meg>figure{
    width: 25%;
    height: 295px;
    position: absolute;
    top: 0;
    border: 5px solid rgb(138, 92, 8);
}
.meg>figure:nth-of-type(1){
    left: 0;
}
.meg>figure:nth-of-type(2){
    width: 30%;
    right: 0;
}
.meg>figure>img{
    width: 100%;
    height: 100%;
}
.meg>figure>figcaption{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    /* background: orchid; */
    
}
.meg>figure>figcaption::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(205, 134, 63, 0);
    transition: 1s;
}
.meg>figure>figcaption:hover::before{
    background: rgba(205, 134, 63, 0.315);
}
.meg>figure>figcaption>h1{
    width: 100%;
    height: 50px;
    background: rgba(199, 132, 65, 0.452);
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 50px;
    opacity: 0;
    transition: 2s;
}
.meg>figure>figcaption:hover h1{
    opacity: 1;
}
.icon{
   /* background: lightblue; */
   width: 20%;
   height: 100%;
   position: absolute;
   top: 0;
    /* background: cyan; */
   /* border:1px solid darkblue; */
   left: 25%;   
   list-style: none;
   padding-top: 15px;
}
.icon>li{
    width: 70% ;
    height: 32px;
    line-height: 20px;
    text-align: left;
    margin: 10px 30px;
    color: rgb(139, 67, 0);
    /* background: lightsalmon; */
    font-size: 16px;
}
.icon>li>span{
    display: block;
    width: 20%;
     font-size: 25px;
     padding-left: 15px;
     float: left;

}
.icon>li:hover{
    color: rgb(218, 112, 13);
}
.icon>li>h2{
    width: 50%;
    height: 100%;
    margin-left: 60px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    /* background: rgb(3, 3, 2); */
}

.meg>.list{
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    /* backgrou nd: cyan; */
    /* border:1px solid darkblue; */
    left: 40%;
    list-style: none;
    padding-top: 20px;
}

.list>li{
    width: 70%;
    height: 20px;
    line-height: 20px;
    text-align: left;
    margin: 15px 25%;
    /* border: 1px solid red; */
    font-size: 16px;
    color: rgb(139, 67, 0);
}
.list>li:hover{
    color: rgb(218, 112, 13);
}
.list>input{
    width: 130px;
    height: 30px;
    background: rgb(105, 76, 22);
    color: rgb(155, 116, 32);
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    left: 60px;bottom: 15px;
}
.list>input:hover{
    background: rgb(90, 55, 22);
    color: rgb(219, 169, 60);
}
